@charset "UTF-8";

body{
    background-color: #233eff;
    /* height: 100vh; */
    height: 1300px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}